.hero
	background-image url("/fortenherobg.png")
 	background-color transparent
	height 30vh
	min-height 30vh

.action-button
	background-color $accentColor !important
	color #eaecef !important
	border: 2px solid $accentColor !important