$fallbackTheme = 'dark'

$themeFont = "https://fonts.googleapis.com/css?family=Roboto+Mono|Lato&display=swap"
$bodyFontFamily = "Lato"
$monoFontFamily = "Roboto Mono"
$bodyFontSize = 18px

// colors - light theme
$accentColor = #b01575
$textColor = #1a1c22
$borderColor = #eaecef
$codeBgColor = #1a1c22
$arrowBgColor = #ccc
$bodyBgColor = #fff
$badgeTipColor = #e7f1ec
$badgeWarningColor = #f8f2d1
$badgeErrorColor = #692025

// colors - dark theme
$accentColorDark = #b01575
$textColorDark = #b01575
$borderColorDark = #4c525c
$codeBgColorDark = #1a1c22
$arrowBgColorDark = #555
$bodyBgColorDark = #25262b
$badgeTipColorDark = #ffdadc
$badgeWarningColorDark = #574e21
$badgeErrorColorDark = #692025

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

