name: github pages

on:
  push:
    branches:
    - master
		- docs-vuepress

jobs:
	build-and-deploy:
		runs-on: ubuntu-latest
		steps:
		- uses: actions/checkout@v2
		- uses: actions/setup-node@v2
			with:
				node-version: '14'
		- run: npm install
		- run: npm ci
		- run: npm run docs:build

		- name: Deploy agritheory.github.io/gh-pages
			uses: peaceiris/actions-gh-pages@v2
			env:
				ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
				# EXTERNAL_REPOSITORY: forten/agritheory.github.io
				PUBLISH_BRANCH: gh-pages
				PUBLISH_DIR: docs/.vuepress/dist
			with:
					emptyCommits: false