name: github pages

on: [push]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
    with:
      node-version: '14'
    - run: npm install
    - run: npm ci # Equivalent to npm install
    - run: npm run docs:build

    #Post to mybells.github.io/master
    - name: Deploy agritheory.github.io/gh-pages
      uses: peaceiris/actions-gh-pages@v2
      env:
        ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
        EXTERNAL_REPOSITORY: agritheory/mybells.github.io #Can create a new mybells.github.io warehouse and publish it to the master
        PUBLISH_BRANCH: gh-pages
        PUBLISH_DIR: docs/.vuepress/dist
      with:
          emptyCommits: false        