name: Build and Deploy
on: [push]
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master

		- name: Build and Deploy
			uses: agritheory/forten@docs-vuepress
			env:
				ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
				BRANCH: gh-pages
				FOLDER: "docs/.vuepress/dist"
				BUILD_SCRIPT: npm run-script docs:build